.jobBrief {
    @media (min-width: 1280px ) {
        width: 140%;
      }
      @media (min-width: 1024px) {
        width: 140%;
      }
      @media (min-width: 900x) {
        width: 140%;
      }
      @media (min-width: 800px) {
        width: 140%;
      }
      @media (min-width: 700px) {
        width: 140%;
      }
      @media (min-width: 600px) {
          width:140%;
      }
      @media (min-width: 500px) {
          width:140%;
      }
      @media (min-width: 400px) {
          width:140%;
      }
      @media (min-width: 350px) {
          width:140%;
      }
}

.responsibilities {
    @media (min-width: 1280px) {
        width: 140%;
      }
      @media (min-width: 1024px) {
        width: 140%;
      }
      @media (min-width: 900x) {
        width: 140%;
      }
      @media (min-width: 800px) {
        width: 140%;
      }
      @media (min-width: 700px) {
        width: 140%;
      }
      @media (min-width: 600px) {
          width:140%;
      }
      @media (min-width: 500px) {
          width:140%;
      }
      @media (min-width: 400px) {
          width:140%;
      }
      @media (min-width: 350px) {
          width:140%;
      }
}

.skills {
  @media (min-width: 1280px) {
    width: 140%;
  }
  @media (min-width: 1024px) {
    width: 140%;
  }
  @media (min-width: 900x) {
    width: 140%;
  }
  @media (min-width: 800px) {
    width: 140%;
  }
  @media (min-width: 700px) {
    width: 140%;
  }
  @media (min-width: 600px) {
      width:140%;
  }
  @media (min-width: 500px) {
      width:140%;
  }
  @media (min-width: 400px) {
      width:140%;
  }
  @media (min-width: 350px) {
      width:140%;
  }
}
